*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: roboto;
}
/* header start */
#navbarSupportedContent
{
    column-gap: 25px;
}
#get-quote{
  display: flex;
}


#navbarSupportedContent .navbar-nav {
  flex-direction: row;
  column-gap: 30px;
  display: flex;
}  
#navbarSupportedContent ul .dropdown .dropdown-menu{
  display: none;
  position: absolute;
}
#navbarSupportedContent ul .dropdown a{
  display:block;
}
#navbarSupportedContent ul .dropdown:hover .dropdown-menu {
  display: block;
}
#navbarSupportedContent #navbarToggleExternalContent{
  position: absolute;
  top: 44px;
  left: -174px;
  right: -24px;
}
#navbarSupportedContent #navbarToggleExternalContent .nav-item {
   text-align: center;
}

#header #navbar-2{
  padding: 0px;
  position: relative;
}
#header #navbar-2 .container-fluid {
  padding-top: 0px;
}
#navbar-2{
  display: none;
}

#navbarSupportedContent .navbar-nav .nav-item a{
    color: #2C2C2C;
    font-weight: 400;
    font-size: 18px;  
}
#navbarSupportedContent {
  display: flex;
}
#header .container-fluid{
  padding-top: 24px 0;
}

#get-quote .quote-shape {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 12px;
    background-color: #FFFFFF;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0 30px color-mix(in srgb, #2C2C2C, transparent 90%);
    column-gap: 8px;
  }
  
  #get-quote .quote-shape a {
    text-decoration: none;
    color: #2C2C2C;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    z-index: 2;
    transition: color 0.3s ease;
  }
  
  #get-quote .quote-shape .quote-logo {
    height: 35px;
    width: 35px;
    position: relative;
    z-index: 3;
    transition: background-color 0.3s ease;
  }
  
  #get-quote .quote-shape::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #EF6A31;
    transition: all 1s ease;
    z-index: 1;
  }
  
  #get-quote .quote-shape:hover::before {
    width: 300%;
    height: 300%;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0;
  }
  
  #get-quote .quote-shape:hover a {
    color: #FFFFFF;
  }
  
  #get-quote .quote-shape:hover .quote-logo {
    background-color: transparent;
  }
  
  
/* header end */

/* hero start */
#bg-image
{
    background-image: url("../../image/group-4.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#bg-image .container
{
    padding: 60px 0;
}
#bg-image .container .row .col-8
{
    padding-top: 60px;
}
#bg-image .container .row .col-8 h1{
    font-size: 48px;
    font-weight: 700;
}
#bg-image .container .row .col-8 .text-hero
{
    column-gap: 20px;
}
#product #product-details .grow-text{
  padding-top: 48px;
}
#bg-image .container .row {
  padding-top: 5px;
}
#hero-button {
    display: flex;
    align-items: center;
    padding: 5px 6px 5px 15px;
    background-color: #FFFFFF;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
    column-gap: 10px;
    margin-right: auto;
  }
  #bg-image .container .row .col-8 .elevate-text{
    padding: 48px 0 8px;
}
  #hero-button a {
    text-decoration: none;
    font-weight: 600;
    color: #2C2C2C;
    font-size: 15px;
    position: relative;
    z-index: 2;
    transition: color 0.3s ease;
  }
  
  #hero-button a img {
    height: 35px;
    width: 35px;
    position: relative;
    z-index: 3;
    transition: background-color 0.3s ease;
  }
  
  #hero-button::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #A0BF24; 
    transition: all 1s ease;
    z-index: 1;
  }
  
  #hero-button:hover::before {
    width: 300%;
    height: 300%;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0;
  }
  
  #hero-button:hover a {
    color: #FFFFFF;
  }
  

  #hero-button:hover a img {
    background-color: transparent;
  }
  


#bg-image .container .row .col-4{
    display: block;
    padding: 40px;
}
#bg-image .container .row .col-4 .bulb
{
    width: 100%;
}
#hero-row-2 .col-4 .title
{
    font-size: 18px;
    font-weight: 600;
}

#hero-row-2 .col-4 a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #A0BF24;
}
/* hero end */

/* product section start */
#product .container-fluid
{
    padding: 60px 0;
}

#product #product-details h1{
    font-size: 48px;
    font-weight: 700;
}
#product #product-details .brand-text
{
    color:#F68824;
}
#product .row #van-img img{
    padding: 0;
}
#product #product-details #design-img
{
    width: 40px;
    height: 130px;
    padding-bottom: 10px;
    position: relative;
    left: 20px;
}
#product #product-details .lorem-text{
  padding-top: 15px;
}
/* product section end */

/* service section start */
#service #bg-image-2
{
    background-image: url("../../image/servicebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
}
#service #bg-image-2 .container{
position: relative;
}
#service #bg-image-2 .container .row .col-8 .img-design
{
    padding: 30px 0 20px;
}
#service #bg-image-2 .container .row .col-8 .img-design img{
    width: 68px;
    height: 12px;
}
#service #bg-image-2 .container .row .col-8 h1
{
    font-size: 50px;
    font-family: 700;
}
#service #bg-image-2 .container .row .col-8 .row .col-6 .service-text
{
    column-gap: 18px;
}
#service #bg-image-2 .container .row .col-8 .row .col-6 .service-text img{
    height: 35px;
}
#service #bg-image-2 .container .row .col-8 .row .col-6 .service-text h2{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 3px;
}
#service #bg-image-2 .container .row .col-4 .icecream-img img{
    width: 100%;
}
#service #bg-image-2 .container .row .col-4 .design-img-circle
{
    position: absolute;
    right: -70px;
}
#service #bg-image-2 .container .row .col-8 .row {
  padding-top: 48px;
}
/* service section end */

/* contact section start */
#contact .container-fluid
{
    padding: 60px 0;
}
#contact .container-fluid .container .row .col-6
{
    display: block;
    padding: 50px;
}
#contact .container-fluid .container .row .col-6 img{
    width: 100%;
}
#contact .container-fluid .container .row .col-6 h1{
    font-size: 50px;
    padding-top: 50px;
}
#contact .container-fluid .container .row .col-6 .contact
{
    column-gap: 15px;
}
#contact .container-fluid .container .row .col-6 .contact .text p{
    font-size: 14px;
    font-weight: 600;
}
#contact .container-fluid .container .row .col-6 .contact
{
    padding-top: 48px;
}
/* contact section end */

/* footer start */
#footer #bg-img-3
{
    background-image: url(../../image/group-4.png);
    padding: 60px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
#footer #bg-img-3 .col-6{
    padding-top: 60px;
}
#footer #bg-img-3 .col-6 h1{
    font-size: 48px;
    font-weight: 600;
}



#footer #bg-img-3 .container .row .col-6 #footer-button {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 18px;
    background-color: #FFFFFF;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    margin-right: auto;
    transition: background-color 0.3s ease;
    column-gap: 10px;
  }
  
  #footer #bg-img-3 .container .row .col-6 #footer-button a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #2C2C2C;
    position: relative;
    z-index: 2;
    transition: color 0.3s ease;
  }
  
  #footer #bg-img-3 .container .row .col-6 #footer-button a img {
    width: 37px;
    position: relative;
    z-index: 3;
    transition: background-color 0.3s ease;
  }
  
  #footer #bg-img-3 .container .row .col-6 #footer-button::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #EF6A31;
    transition: all 1s ease;
    z-index: 1;
  }
  
  #footer #bg-img-3 .container .row .col-6 #footer-button:hover::before {
    width: 300%;
    height: 300%;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0;
  }
  
  #footer #bg-img-3 .container .row .col-6 #footer-button:hover a {
    color: #FFFFFF;
  }
  
  #footer #bg-img-3 .container .row .col-6 #footer-button:hover a img {
    background-color: transparent;
  }
  



#footer #bg-img-3 .container .row .col-6 .row{
    width: 100%;
}
#footer #bg-img-3 .container .row .col-6 .row .col-6 .footer-links a
{
    text-decoration: none;
    color: #2C2C2C;
}
#footer #bg-img-3 .container .row .col-12 .col-4 .social-icons{
    column-gap: 10px;
}
#footer #bg-img-3 .container .row .col-6 .row .col-6 .footer-links a
{
    transition: 0.3s;
}
#footer #bg-img-3 .col-6 {
  column-gap: 38px;
}
#footer #bg-img-3 .container .row .col-6 .row .col-6 .footer-links a:hover{
    color: #EF6A31;
}
#footer #bg-img-3 .container .row .col-12 .col-4 .social-icons img{
    width: 32px;
}
#footer #bg-img-3 .container .row .col-12 {
  column-gap: 230px;
}
#footer #bg-img-3 .container .row .col-12 .col-4 .social-icons {
  column-gap: 14px;
}
#footer #bg-img-3 .col-6 {
  padding-top: 60px;
}
#footer #bg-img-3 .col-6 {
  column-gap: 50px;
  width: 50%;
}
#icons-social{
  padding-top:30px;
}
#footer #bg-img-3 .col-6 p {
  padding: 24px 0;
  width: 80%;
}
#footer #bg-img-3 .col-6 p {
  padding-top: 48px;
}
#footer #bg-img-3 .container .row .col-12 {
   display: flex;
   flex-direction: row;
}
#footer #bg-img-3 .container .row .col-12 p {
    font-size: 14px;
}
#footer #bg-img-3 {
  padding: 60px 0 20px;
}
/* footer end */